/* 
	CSS 
	Tara Anand 
	July 2022

    Old colors: rgba(31, 58, 147, .7);;
*/ 

.row {
  display: flex;
}

.left {
  flex: 56%;
  padding-right: 2.5%
  box-shadow: /*inset 0 0 0 1000px */rgba(256, 168, 229, .9);
}


.right{
    padding-left: 2.5%;
    flex: 39%;
    margin: 0 auto;
}

.parallax {
    background-image: url('../img/grad3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    height:100%;
    margin: 0 auto;
    padding-top: 10vh;
    box-shadow: inset 0 0 0 1000px rgba(98, 168, 229, .6);
}

.header {
    background-color: rgba(0,0,0,0)
    padding-left:15vw;
    padding-top: 0%;
    padding-top: 60vh;
}
#bottom{
    padding-bottom: 33vh;
    padding-top: 0vh;
}

.division {
    position: relative;
    margin-top: 0;
    padding-left:15vw;
    padding-right:15vw;
    width: 70%;
    max-width: 100%; 
    padding-bottom: 40vh;
    padding-top:6vh;    
}


button{
    text-align: center;
    background-color: rgb(230,230,230);
    top: 0;
    font-size: 20px;
    font-weight: bold;
    font-family:'Alegreya Sans', sans-serif;
    z-index:1;
    color: black; 
    height: 40px;
    width: 120px;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    max-width: 100%; 
}

button:hover {
    cursor: pointer;
    background-color: rgb(205,205,205);
    color: white;
}

/* ----------------------- Typography ----------------------- */
* {
      margin: 0 auto;
      padding: 0;
      text-align: left;
      line-height: 1.5;
      color: rgb(0, 0, 0);
      font-weight: normal;
}

p{
	font-size: 25px; 
	font-family:'Alegreya Sans', sans-serif;
    font-weight: bold;
}


a{
    font-size: 25px; 
    font-family:'Alegreya Sans', sans-serif;
    /*font-weight: bold;*/

}

h1{
	font-family:'Alegreya Sans SC', 'Alegreya Sans', sans-serif;
	line-height: 1.5;
	font-size: 50px;
	text-align: left;
    -webkit-transition: .6s; /* For Safari 3.1 to 6.0 */
    transition: .6s;
	
}

h2{
	font-family:'Alegreya Sans SC', 'Alegreya Sans', sans-serif;
	font-size: 30px;
	line-height: 1.5;
	text-align: left;
    font-weight: bold;
}

h3{
    font-size: 25px; 
    font-family:'Alegreya Sans', sans-serif;
    /*font-weight: bold;*/
}

h5{
    font-family:'Alegreya Sans SC', 'Alegreya Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    font-weight: bold;
    padding-left: 22%;
}

h6{
    font-family:'Alegreya Sans SC', 'Alegreya Sans', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
    font-weight: bold;
    padding-left: 22%;
}



.slide img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding: 0px; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    width: 500px;
    max-width: 100%; 
}

.slide2 img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding: 0px; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    width: 500px;
    max-width: 100%; 
}

.title{
    top:7vh;
    position: sticky;
    position: -webkit-sticky;
    
}
.title p{
	color:rgb(255,255,255);
	font-family: 'Cormorant', serif ;
	font-size: 50px;
	line-height: .3;
	text-align: left;
    padding-left:15vw;
    
	/*padding-left: 23vw;*/
    
    /*font-weight: normal;*/
    font-weight: bold;

}



.sectionHeader{
    padding-left: 15%;
    padding-top: 20px; 
    margin: 0;
    height: 80px;
    font-size: 50px;
    background-color: rgb(205,205,205); 
    font-weight: normal;
    -webkit-transition: .6s; /* For Safari 3.1 to 6.0 */
    transition: .6s;
}

.sectionHeaderActive{
    -webkit-transition: .6s; /* For Safari 3.1 to 6.0 */
    transition: .6s;
    padding-left: 15%;
    padding-top: 80px; 
    height: 80px;
    font-size: 50px;
    background-color: rgb(185,185,185); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sectionHeaderActive h1{
    font-family:'Alegreya Sans SC', 'Alegreya Sans', sans-serif;
    line-height: 1.5;
    font-size: 60px;
    text-align: left;
    font-weight: bold;
    color: white;
    -webkit-transition: .6s; /* For Safari 3.1 to 6.0 */
    transition: .6s;
}

.subSectionHeader{
    padding-top: 15px;
}

.main{
	/*font-family:'Alegreya Sans', sans-serif;
	background-color: rgb(253, 253, 253);*/
	padding:15%;
	padding-top: 0px;
	padding-bottom: 2%;
}

#tech {
	background: url('../img/tech.jpg');
	background-size: 100%;
	margin: 0 auto;
    box-shadow: inset 0 0 0 1000px rgba(256, 256, 256, .93);
	/*box-shadow: inset 0 0 0 1000px rgba(31, 58, 147, .91);*/
	
}

#eCon, #pCon, #dCon, #cCon{
    background-color: white;
}

#cube{
	background: url('../img/dance.jpg');
	background-size: 100%;
	margin: 0 auto;
	/*box-shadow: inset 0 0 0 1000px rgba(31, 58, 147, .91);*/
    box-shadow: inset 0 0 0 1000px rgba(256, 256, 256, .91);
    display: block;
}

#info{

    background-size: 100%;
    margin: 0 auto;
    /*box-shadow: inset 0 0 0 1000px rgba(31, 58, 147, .91);*/
    box-shadow: inset 0 0 0 1000px rgba(256, 256, 256, .91);
    display: block;
}

#shower{
    background: url('../img/shower.jpg');
    background-size: 100%;
    margin: 0 auto; 
    box-shadow: inset 0 0 0 1000px rgba(256, 256, 256, .91);
    
}


.push{
    height: 60px;
}

.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px
}

footer {
	background-color: rgb(98, 168, 229);
	margin: 10 auto;
	padding: 35px;
	position: bottom;
    margin-top: -20px;
    clear: both;
    height: 60px;
}

footer p{
	text-align:center;
	font-family: 'Alegreya Sans SC', sans-serif;
	color:white;
	line-height: 10.5px;
	font-size:15px;
}

footer img{
	height:40px;
	padding: 5px;
	margin: 0 auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

footer img:hover{
    height:45px;
    padding: 0px;
}

iframe{
    display: block;
    margin: 0 auto;
    top: 200px;
    padding-top: 20px;
    max-width: 100%; 
}



/* Nav Bar */ 
.navbar{
    text-align: center;
    background-color: rgb(230,230,230);
    bottom: 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-size: 20px; 
    font-family:'Alegreya Sans', sans-serif;
    z-index:1;
    color: black; 
    height: 10vh;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}


#firstbutton{
    border-left:.5px solid rgb(205,205,205);
}

.navbarActive{
    text-align: center;
    background-color: rgb(230,230,230);
    bottom: 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    font-size: 20px; 
    font-family:'Alegreya Sans', sans-serif;
    z-index:1;
    color: black; 
    height: 5.5vh;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.navbar button{
    text-align: center;
    background-color: rgb(230,230,230);
    top: 0;
    font-size: 20px;
    font-weight: bold;
    font-family:'Alegreya Sans', sans-serif;
    z-index:1;
    color: black; 
    height: 10vh;
    width: 120px;
    border-right: .5px solid rgb(205,205,205);
    border-top:none;
    border-bottom:none;
    border-left:none;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    max-width: 100%; 
}

.navbarActive button{
  text-align: center;
    background-color: rgb(230,230,230);
    top: 0;
    font-size: 20px;
    font-weight: bold;
    font-family:'Alegreya Sans', sans-serif;
    z-index:1;
    color: black; 
    height: 5.5vh;
    width: 120px;
    border-right: .5px solid rgb(205,205,205);
    border-top:none;
    border-bottom:none;
    border-left:none;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    max-width: 100%; 
}



button:hover {
    cursor: pointer;
    background-color: rgb(205,205,205);
    color: white;
    border:none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.navbar a {
    display: inline-block;
}

.navbar li{
    /*display: inline;*/
    float: left;
}

.navbar li a {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 4px 25px;
    text-decoration: none;
}

.navbarActive a {
    display: inline-block;
}

.navbarActive li{
    /*display: inline;*/
    float: left;
}

.navbarActive li a {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 4px 25px;
    text-decoration: none;
}


.container{
    
}



.resume{
    position: relative;
    background:white;
    margin-top: 0;
    padding-left:15%;
    padding-right:15%;
    /*padding-bottom:30%;*/
    width: 70%;
    height: 30vh; 
    display: none;
    /*transition: max-height 0.2s ease-out;*/
}


.resumeExpanded{
    position: relative;
    background:white;
    margin-top: 0;
    padding-left:15%;
    padding-right:15%;
    /*padding-bottom:30%;*/
    width: 70%;
    height: 260vh; 
    display: none;
    /*transition: max-height 0.2s;*/
}

/* Style the button that is used to open and close the collapsible content */
.collapsible, .collapsibleReturn {
 cursor: pointer;
  width: 100%;
  outline: none;

}
 

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover, .collapsibleReturn:hover {
  background-color: rgb(205,205,205);
  cursor: pointer;
  color: white;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  /*padding: 0 18px;*/
  background-color: white;
  max-height: 0;
  overflow: hidden;
  height: 60vh;
  /*transition: max-height 0.2s;*/
}


/* Slider
------------------------------------------------------------ */
.slider-buttonsL{
    position: absolute;
    width: 60px;
    height: 60px;
    /*top: 30%;*/
    text-align: center;
    opacity: 0.4;
    left: 2.941vw;
    top: 40%;
    max-width: 100%; 
}
.slider-buttonsR{
    position: absolute;
    width: 60px;
    height: 60px;
    /*top: 30%;*/
    text-align: center;
    opacity: 0.4;
    right: 2.941vw;
    top: 40%;
}
.slider-buttonsL:hover {
    cursor: pointer;
    opacity: 0.8;
}
.slider-buttonsR:hover {
    cursor: pointer;
    opacity: 0.8;
}


.SlideContainer {
    position: relative;
    margin-top: 0;
    margin: 0;
}
.slide{
    position: relative;
    margin-top: 0;
    padding-left:15%;
    padding-right:15%;
    /*padding-bottom:30%; */
    width: 70%;
    height: 900px; 
    display: none;
}

.slide2{
    position: relative;
    margin-top: 0;
    padding-left:15%;
    padding-right:15%;
    /*padding-bottom:30%;*/
    width: 70%;
    /*height: 600px; */
    height:  80vh; 
    display: none;
}

.slide2 ul{
    list-style-type: square;
    list-style-position: inside;
    font-size: 25px; 
    font-family:'Alegreya Sans', sans-serif;
    font-weight: bold;
}

#education, #work, #teaching{
    display: block;
}

#work{
    height: 2200px; 
}

#teaching{
    height: 1600px;
}

#publications{
    position: relative;
    display: block;
    margin-top: 0;
    padding-left:15%;
    padding-right:15%;
    /*padding-bottom:30%;*/
    width: 70%;
    /*height: 500px; */
    height: 68vh;
    /*display: none;*/
}

#posters{
    display: block;
    position: relative;
    margin-top: 0;
    padding-left:15%;
    padding-right:15%;
    /*padding-bottom:30%;*/
    width: 70%;
    height: 1000px; 
}

.slide3{
    position: relative;
    margin-top: 0;
    padding-left:15%;
    padding-right:15%;
    /*padding-bottom:30%;*/
    width: 70%;
    height: 760px; 
    display: none;
}

.box{
    float:left;
    margin-right:40px;
    margin-left:40px;

}
.clear{
    clear:both;
}

/*********************************************************
**********************************************************
**********************************************************
                     Small screens
**********************************************************
**********************************************************
**********************************************************/


@media only screen and (max-width: 1400px) {
    .slide2{
        height:  125vh;
    }
    #work{
        height: 2400px; 
    }
    #teaching{
        height: 1600px;
    }
    #publications{
        /*height: 500px; */
        /*display: none;*/
    }
    #posters{
        height: 1200px; 
    }
}

@media only screen and (max-width: 1075px) {
/*    .slide2{
        height:  950px;
    }*/
    #work{
        height: 2400px; 
    }
    #teaching{
        height: 1600px;
    }
    #publications{
        /*height: 500px; */
        /*display: none;*/
    }
    #posters{
        height: 1450px; 
    }
}




/*********************************************************
                     <800
**********************************************************/

@media only screen and (max-width: 800px) {

    #publications{
        height: 700px; 
        /*display: none;*/
    }

    #posters{
        height: 2500px;
    }

    .division {
        padding: 0px;
        width: 85%;
        max-width: 100%; 
          
    }
    .header {
        padding-top: 40px;
        padding-bottom:20px;
    }

    #projects{
        padding-bottom: 70px;
    }
    .title{

        font-size: 45px;
        text-align: center;
        padding: 0px;
    }
    /****************** Navigation Bar ******************/ 
    .navbar{
        text-align: center;
        background-color: rgb(230,230,230);
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        font-size: 20px; 
        font-family:'Alegreya Sans', sans-serif;
        z-index:1;
        color: black; 
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    button{
        text-align: center;
        background-color: rgb(230,230,230);
        top: 0;
        font-size: 20px;
        font-weight: bold;
        font-family:'Alegreya Sans', sans-serif;
        z-index:1;
        color: black; 
        height: 40px;
        width: 16.667vw;
        border: none;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        max-width: 100%; 
    }

    button:hover {
        cursor: pointer;
        background-color: rgb(205,205,205);
        color: white;
    }

    .navbar a {
        display: inline-block;
    }

    .navbar li{
        float: left;
    }

    .navbar li a {
        display: block;
        font-weight: bold;
        text-align: center;
        padding: 2.5px 20px;
        text-decoration: none;
    }

    /****************** Fonts ******************/
    p{
        font-size: 18px; 
    }

    h1{
        font-size: 40px;
        text-align: center;
        -webkit-transition: .6s; /* For Safari 3.1 to 6.0 */
        transition: .6s;
    }
    .sectionHeaderActive h1{
        font-size: 50px;
        padding-left: 0px;
        text-align: center;
        -webkit-transition: .4s; /* For Safari 3.1 to 6.0 */
        transition: .4s;
    }
    #About h1{
        text-align: left;
    }
    h2{
      
        font-size: 28px;
        line-height: 1.5;
        text-align: left;
        font-weight: bold;
    }

    .sectionHeader{
        padding-top: 35px; 
        padding-left: 0px;
        margin: 0;
        height: 55px;
        font-size: 50px;
        background-color: rgb(205,205,205); 
        font-weight: normal;
        -webkit-transition: .6s; /* For Safari 3.1 to 6.0 */
        transition: .6s;
    }
    .sectionHeaderActive{
        -webkit-transition: .4s; /* For Safari 3.1 to 6.0 */
        transition: .4s;
        padding-left: 0px;
        padding-top: 45px; 
        height: 65px;
        font-size: 50px;
        background-color: rgb(185,185,185); 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    }

    /****************** Slider ******************/

    .slider-buttonsL{
        position: absolute;
        width: 35px;
        height: 60px;
        /*top: 30%;*/
        text-align: center;
        opacity: 0.4;
        left: 2vw;
        top: 40%;
        max-width: 100%; 
    }
    .slider-buttonsR{
        position: absolute;
        width: 35px;
        height: 60px;
        /*top: 30%;*/
        text-align: center;
        opacity: 0.4;
        right: 2vw;
        top: 40%;
    }
    .slide{
        position: relative;
        margin-top: 0;
        padding-left:7.5%;
        padding-right:7.5%;
        /*padding-bottom:30%; */
        width: 85%;
        height: 900px; 
        display: none;
    }

    .slide2{
        position: relative;
        margin-top: 0;
        padding-left:7.5%;
        padding-right:7.5%;
        /*padding-bottom:30%;*/
        width: 85%;
        /*height: 900px; */
        /*height:  78vh;*/
        display: none;
    }

    .slide3{
        position: relative;
        margin-top: 0;
        padding-left:7.5%;
        padding-right:7.5%;
        /*padding-bottom:30%;*/
        width: 85%;
        height: 760px; 
        display: none;
    }
}

/*********************************************************
                     <600
**********************************************************/
@media only screen and (max-width: 700px) {
    
    #publications{
        height: 700px; 
        /*display: none;*/
    }

    #posters{
        height: 2300px;
    }
}

/*********************************************************
                     <500
**********************************************************/

@media only screen and (max-width: 500px) {
    
    #publications{
        height: 700px; 
        /*display: none;*/
    }

    #posters{
        height: 2200px;
    }

    .division {
        padding: 0px;
        width: 85%;
        max-width: 100%; 
          
    }
    .header {
        padding-top: 40px;
        padding-bottom:20px;
    }
    .title{

        font-size: 45px;
        text-align: center;
        padding: 0px;
    }
    /****************** Navigation Bar ******************/ 
    .navbar{
        text-align: center;
        background-color: rgb(230,230,230);
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        font-size: 20px; 
        font-family:'Alegreya Sans', sans-serif;
        z-index:1;
        color: black; 
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    button{
        text-align: center;
        background-color: rgb(230,230,230);
        top: 0;
        font-size: 3.8vw;
        font-weight: bold;
        font-family:'Alegreya Sans', sans-serif;
        z-index:1;
        color: black; 
        height: 30px;
        width: 19vw;
        border: none;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        max-width: 100%; 
    }

    button:hover {
        cursor: pointer;
        background-color: rgb(205,205,205);
        color: white;
    }

    .navbar a {
        display: inline-block;
    }

    .navbar li{
        float: left;
    }

    .navbar li a {
        display: block;
        font-weight: bold;
        text-align: center;
        padding: 2.5px 20px;
        text-decoration: none;
    }

    /****************** Fonts ******************/
    p{
        font-size: 18px; 
    }

    h1{
        font-size: 40px;
        text-align: center;
        -webkit-transition: .6s; /* For Safari 3.1 to 6.0 */
        transition: .6s;
    }
    .sectionHeaderActive h1{
        font-size: 50px;
        padding-left: 0px;
        text-align: center;
        -webkit-transition: .4s; /* For Safari 3.1 to 6.0 */
        transition: .4s;
    }
    #About h1{
        text-align: left;
    }
    h2{
      
        font-size: 28px;
        line-height: 1.5;
        text-align: left;
        font-weight: bold;
    }

    .sectionHeader{
        padding-top: 35px; 
        padding-left: 0px;
        margin: 0;
        height: 55px;
        font-size: 50px;
        background-color: rgb(205,205,205); 
        font-weight: normal;
        -webkit-transition: .6s; /* For Safari 3.1 to 6.0 */
        transition: .6s;
    }
    .sectionHeaderActive{
        -webkit-transition: .4s; /* For Safari 3.1 to 6.0 */
        transition: .4s;
        padding-left: 0px;
        padding-top: 45px; 
        height: 65px;
        font-size: 50px;
        background-color: rgb(185,185,185); 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    }

    /****************** Slider ******************/

    .slider-buttonsL{
        position: absolute;
        width: 35px;
        height: 60px;
        /*top: 30%;*/
        text-align: center;
        opacity: 0.4;
        left: 1vw;
        top: 40%;
        max-width: 100%; 
    }
    .slider-buttonsR{
        position: absolute;
        width: 35px;
        height: 60px;
        /*top: 30%;*/
        text-align: center;
        opacity: 0.4;
        right: 1vw;
        top: 40%;
    }
    .slide{
        position: relative;
        margin-top: 0;
        padding-left:10%;
        padding-right:10%;
        /*padding-bottom:30%; */
        width: 80%;
        height: 950px; 
        display: none;
    }

    .slide2{
        position: relative;
        margin-top: 0;
        padding-left:10%;
        padding-right:10%;
        /*padding-bottom:30%;*/
        width: 80%;
        /*height: 950px; */
        display: none;
    }

    .slide3{
        position: relative;
        margin-top: 0;
        padding-left:10%;
        padding-right:10%;
        /*padding-bottom:30%;*/
        width: 80%;
        height: 800px; 
        display: none;
    }
}

